@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #1F2123;
}

body,
button,
textarea,
input,
input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

li {
    list-style: none;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
    background-color: #1F2123;
}

::-webkit-scrollbar-thumb {
    background: #ffffff1a;
    border-radius: 10px;
    transition: 0.1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.3);
}